<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Terms and Conditions</title>
  <style>
    .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.content {
  margin-top: 30px;
}

h2 {
  color: #555;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

  </style>
</head>

<body>
  <div class="container">
    <div class="content">
        <h1>Terms and Conditions of Projects Champion 🏆</h1>
        <p>By filling out and submitting the following form, the student acknowledges that all the information provided is accurate and personally identifiable.</p>
        <p>The code provided by our team for the student's project is subject to payment. The cost of the code will be determined through further communication and agreement between the student and our team.</p>
        <p>The student agrees to carefully read and understand these terms and conditions. Any violation or breach of these terms may result in appropriate actions being taken.</p>
        <p>The student acknowledges that the code provided by our team is for educational purposes and should be used responsibly. Any misuse or unauthorized distribution of the code is strictly prohibited.</p>
        <p>Our team reserves the right to modify or update these terms and conditions at any time. It is the responsibility of the student to stay informed about any changes made.</p>
        
        <p>Our team does not guarantee the completeness, accuracy, or effectiveness of the provided code. The student is responsible for testing, debugging, and modifying the code as needed for their project.</p>
        <p>The student understands that the code provided may require further customization and integration into their specific project requirements.</p>
    </div>
  </div>
</body>

</html>
